<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About the club</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p><u>Have you ever wondered what the internet (connection between computers), biology (e.g. spreading
                        of a disease), and society have in common?</u> There are relations and connections everywhere.
                    All you need is an eye for them (and a bit of programming skills too!).</p>
            </div>
            <div class="col-lg-4">
                <p>In this course, you will learn programming fundamentals, you will explore complex systems with
                    network
                    theory tools, and you will apply machine learning techniques to get insights about systems behavior.
                </p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="https://github.com/RodolfoFerro" class="btn btn-lg btn-outline">
                    <i class="fa fa-github"></i> Repository on GitHub
                </a>
            </div>
        </div>
    </div>
</section>