<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ post.title }}</h2>
                        <hr class="star-primary">
                        <img src="{{ site.baseurl }}/img/portfolio/{{ post.img }}" class="img-responsive img-centered"
                            alt="{{ post.alt }}" width="70%">
                        {% if post.description %}
                        <p>{{ post.description }}</p>
                        {% endif %}
                        <ul class="list-inline item-details">
                            {% if post.slides-1 %}
                            <li><h4>Slides pt. I:</h4>
                                <strong><a href="{{ post.slides-1 }}"><img src="https://img.shields.io/static/v1?label=Slides&message=Google%20Slides&color=tomato" alt="Google Slides"/></a>
                                </strong>
                            </li><br>
                            {% endif %}
                            {% if post.notebook-1 %}
                            <li><h4>Notebook pt. I:</h4>
                                <strong><a href="{{ post.notebook-1 }}"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
                                </strong>
                            </li><br>
                            {% endif %}
                            {% if post.slides-2 %}
                            <li><h4>Slides pt. II:</h4>
                                <strong><a href="{{ post.slides-2 }}"><img src="https://img.shields.io/static/v1?label=Slides&message=Google%20Slides&color=tomato" alt="Google Slides"/></a>
                                </strong>
                            </li><br>
                            {% endif %}
                            {% if post.slides-1 %}
                            <li><h4>Notebook pt. II:</h4>
                                <strong><a href="{{ post.notebook-2 }}"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
                                </strong>
                            </li><br>
                            {% endif %}
                        </ul>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i>
                            Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}